[2015-12-04 00:27] GreenGremlin opened #2 "No Github link on the npm page"
There is no link to this repo on the [npm page](https://www.npmjs.com/package/modernizr-loader). This makes it difficult for developers to contribute.

[2015-12-08 12:32] flootr commented on #2
Hey, thanks for the note. This should now be done. I'll look into your pr soon.

[2015-12-08 12:32] #2 closed

[2015-12-09 12:52] flootr opened #3 "Update readme"
Update readme related to 54238881f3d472ec713ad80730ceb3f99120ee0e. Then publish `0.0.4`.

[2015-12-12 15:35] #3 closed

[2016-04-07 16:54] dcalhoun opened #5 "Errors with Webpack build"
I'm having difficulties getting modernizr-loader setup. I followed the README, but unfortunately hit a lot of errors anytime I attempt to `import Modernizr from 'modernizr'`. Any thoughts as to what is going on here? Thanks!

### Errors
*[Full list of errors](https://gist.github.com/dcalhoun/04d48160bc14610c6377c190f86e8798)*
[code]

### Config
[code]

[code]

### Peer Dependency Versions
- `webpa

[2016-04-08 07:19] flootr commented on #5
You might have an error in your webpack config. Please provide `modernizr` as an `alias` in the `resolve` part. That's missing in your configuration:

[code]

[2016-04-08 13:38] dcalhoun commented on #5
@flootr yep, I was afraid it was a simple mistake. Sorry for wasting your time. Thank you for the assistance!

[2016-04-08 13:38] #5 closed

[2016-04-17 12:40] Brototype opened #6 "readme fix"
shouldn't it be `require("!modernizr!/.modernizrrc")`(with an **!**) instead of `require("!modernizr./.modernizrrc")`(with a **.**)?

[2016-04-27 09:24] danilobuerger opened #7 "cacheable"
Is there a reason this loader does not opt in to being cacheable?

[2016-04-27 09:55] jhnns commented on #7
Nope. You're right. We should add a [cachable flag](https://github.com/peerigon/markdown-loader/blob/1454d5152a5ccb172213faadfe034d1bb75e1bd2/index.js#L25) @flootr

[2016-04-27 09:57] jhnns commented on #7
The cacheable flag tells webpack that ~~the loader has no side-effects.~~ when the input hasn't changed, the previous output can be reused.

EDIT: The loader may have side-effects.

[2016-04-27 10:18] danilobuerger commented on #7
What side-effects could it have?

[2016-04-27 12:09] jhnns commented on #7
From a technical point of view, calling `cacheable()` itself is a side-effect

[2016-04-27 12:19] danilobuerger commented on #7
Actually the webpack docs just states it must be deterministic:

So my question should have rather been: is there anything that doesn't make it deterministic?

[2016-04-27 12:29] jhnns commented on #7
Yes, deterministic is the correct word (in contrast to "without side-effect").

Nope

[2016-04-27 12:30] danilobuerger commented on #7
Since this is assigned to @flootr i guess you guys don't need a PR for it?

[2016-04-27 13:11] flootr commented on #7
If you want to, go for it @danilobuerger 👍  Would really appreciate it.

[2016-04-27 21:05] danilobuerger commented on #6
should be `require("!modernizr!./.modernizrrc")`

[2016-04-29 08:16] #7 closed

[2016-04-29 08:17] flootr commented on #6
Thanks 👍 c597f5da205708d89ff59f3f6d37c7cc95816458

[2016-04-29 08:17] #6 closed

[2016-04-29 10:15] danilobuerger opened #9 "Tests"
Where are the tests that i can run with `npm test` (according to the README) ?

[2016-04-29 11:51] flootr commented on #9
There are no tests. I started to write tests but haven't pushed, yet.

[2016-05-02 10:12] danilobuerger commented on #9
Wouldn't it make sense to remove that part from README.md then? Also from package.json as that creates an infinite loop calling `npm test`.

[2016-05-02 11:06] flootr commented on #9
I agree with you. I'll push the tests as soon as I'm ready with them. Hopefully very soon ^^

Done via bd2283e33ed4caea7e373e202bfbafabe6ba2f04

[2016-05-02 11:06] #9 closed

[2016-05-08 10:25] muratgozel opened #10 "Cannot resolve module .modernizrrc with webpack config"
I couldn't make it work. All three files in the same directory.

**webpack.config.js:**

[code]

**app.jsx:**
[code]

**.modernizrrc:**
[code]

[2016-05-08 11:22] flootr commented on #10
Try this:

[code]

Otherwise Node will look for a module named `.modernizrrc` in your  `node_modules` folder, which is not correct. [See here for more information on requiring files](https://nodejs.org/api/modules.html). Hope that helps.

[2016-05-08 11:26] muratgozel commented on #10
Tried:
`ERROR in Cannot find module 'modernizr'
 @ ./app.jsx 18:0-25`

[2016-05-08 11:56] flootr commented on #10
Did you install the `modernizr` module via `npm install modernizr`? As `modernizr` is a peer dependency of `modernizr-loader` it has to be present, but won't be installed automatically in npm 3.

[2016-05-08 12:04] muratgozel commented on #10
Now its working. thank you. i wasnt know i should install modernizr seperately.

[2016-05-08 12:13] flootr commented on #10
Maybe we should consider this in the Readme, but for now I'm glad I could help you out ;)

[2016-05-08 12:13] #10 closed

[2016-06-23 14:42] jmarceli opened #12 "Improve documentation"
Hi,
This is really useful project thanks for that. Anyway I would like to suggest some README improvements:
- add info about `.modernizrrc` available options by linking https://github.com/Modernizr/Modernizr/blob/master/lib/config-all.json (like in https://www.npmjs.com/package/modernizr-webpack-plugin)
- rearrange  instructions. As it is a webpack loader I think that `require` and `import` code b

[2016-06-23 14:45] jmarceli opened #13 "How to use it with Babel ES6?"
Hi,
I'm using this loader along with babel es6 transpilation and I can't get it to work as I expect. This is how I use it now:
[code]

And that is my expected way of using (which doen't work and produces errors about `resolving module 'fs'`:
[code]

[2016-06-24 07:28] spegoraro commented on #13
+1 getting the same issue here.
As an extra note, I have `exclude: /node_modules/` in my babel-loader config and the issue persists.

[2016-06-24 07:44] jmarceli commented on #13
I didn't paste my `webpack.config.js` but `node_modules` are also excluded in mine.

[2016-06-27 05:28] flootr commented on #12
Hey! Thanks for your suggestions. Feel free to send a PR 👍

[2016-06-27 07:19] goesbysteve commented on #13
@jmarceli If can you post your webpack.config.js and .modernizr I'll take a look. What OS, npm and node versions are you running? Are you executing webpack by it's CLI or a task runner?

I have es2015->babel with Modernizr-loader working fine.  I often find it helps if you can produce a simple example on github with your setup. I'm happy to look at that too. If you include your webpack.config.js,

[2016-06-27 07:20] goesbysteve commented on #12
I'm happy to help too as I stumbled a bit on not setting "setClasses: true". Without that I was not getting all css classes added for my tests.

[2016-06-27 07:42] jmarceli commented on #13
Mac OS X 10.10, node 4.4.5, npm 3.9.3

Webpack is runing via CLI (`npm run watch`).

My setup is a quite popular Wordpress theme boilerplate https://github.com/roots/sage/tree/sage-9 (Webpack branch). It might be a problem to make simple example as it is just Wordpress theme not a standalone app, but I'll try to do one if code below doesn't explain where is the error.

**.modernizrrc**

[code]

**

[2016-06-27 08:27] goesbysteve commented on #13
We are on a Wordpress platform too so I understand.  If I have no joy spotting anything in the files here maybe sharing the child theme you have built on webpack theme?

Gimme a day as today is busy at work.

[2016-06-27 09:06] jmarceli commented on #13
OK. I'll make example theme which will show the issue.

[2016-06-29 11:45] jhnns commented on #13
A minimal example what be helpful.

Guessing from your snippets, I assume that it's not an issue directly related to the modernizr-loader, because the modernizr-loader is fairly simple and doesn't involve the fs module or something. It's probably caused by the order of execution.

One thing you should know: `import` and `require()` have a totally different runtime behavior. imports are resolved be

[2016-06-29 14:39] jmarceli commented on #13
While making my minimal example I manage to spot a bug/typo in webpack.config here:

[code]

By mistake I've nested `resolve` twice. So corrected code should look like this:

[code]

After that everything works as expected (described in the README).

[2016-06-29 14:39] #13 closed

[2016-06-29 14:48] goesbysteve commented on #13
Thats brill, I always find my typos when having to explain stuff to others. We see what we expect to see in our own code:-) Glad you got it sorted

[2016-06-29 14:50] jmarceli commented on #12
As I finished my minimal example for #13 I think I may share it as a reference for other [WP Sage theme](https://github.com/roots/sage) users. Here is my repo and specific example commit which adds modernizr-loader https://github.com/jmarceli/modernizr-loader-sage/commit/f895441cef232e957e0f5feaa2eafc01a64ca9fd

What do you think? Should I modify README or place it in the Wiki or maybe leave it al

[2016-06-29 14:57] jhnns commented on #13
👍

[2016-06-29 15:54] goesbysteve commented on #12
@flootr I'd like to add to the README to include the option of adding modernizr to an entry point in webpack.config.js if only used in CSS and therefore importing into modules isn't necessary. For those just using it for CSS this is far simpler and avoids an unused import or finding an arbitrary place to require Modernizr.

[code]

[2016-06-29 16:45] jmarceli commented on #12
This sounds like an useful info for me but it should be somehow separated from base configuration in order not to mislead people.
Maybe new section name e.g. Alternative configuration, and current would be named Base configuration (or the other way round).

[2016-06-29 16:50] goesbysteve commented on #12
Ok why don't I do a pull request for what I've done and we can iterate in that?

Sent from my iPhone

[2016-06-29 17:44] flootr commented on #12
Go for it 👍  @stevegibbings

[2016-08-19 19:05] jrodl3r opened #15 "Isomorphic / SSR Issue"
Modernizr throws: `window is not defined` on server (React/SSR)

any ideas on how to work around that in webpack/React/SSR environment?

[2016-08-24 08:57] DaZzz opened #16 "Installation process clarification"
Hi!

Small clarification. Do users really need to do `npm install --save modernizr-loader`, wouldn't it be better to use `--save-dev` flag, since it is a common practice to put loaders to devDependecies.

What do you think about that? 💭

[2016-08-24 09:52] flootr commented on #16
True! Would you mind open a PR on that?

[2016-08-24 09:54] tikhonbelousko commented on #16
On it 👍

[2016-08-24 15:39] #16 closed

[2016-08-27 23:27] jrodl3r commented on #15
...

[2016-08-29 07:49] jmarceli opened #19 "modernizr package is required"
It looks like proper README installation command should be:
[code]
As the `modernizr` is required to generate final bundle or am I missing something?

[2016-08-29 17:39] flootr commented on #19
No, you are correct. `modernizr` is a peerDependency and won't get installed since `npm@3`. You'd likely want to install `modernizr`, too. Would you mind opening a PR on that @jmarceli?

[2016-08-29 17:45] flootr commented on #15
The error is correct, you won't be able to use Modernizr on the server side as you don't have any DOM to access and therefore no `window` object.

You could define a `window` object with the [`webpack.DefinePlugin`](https://webpack.github.io/docs/list-of-plugins.html#defineplugin) to work around this issue and create a fake `window` object. This is one approach, but there may be others which may f

[2016-08-29 21:31] jrodl3r commented on #15
got this far:

[code]

then it just becomes an endless stream of errors on missing methods, etc.

[2016-08-30 04:52] flootr commented on #15
Maybe try to only require Modernizr if you're in a DOM environment? Sorry, but I am not able to get that deep into your project for time reasons.

[2016-08-30 07:32] flootr commented on #19
#20

[2016-08-30 07:32] #19 closed

[2016-08-31 00:12] jrodl3r commented on #15
@flootr Thx! that helped me get it working (and disabled) for the appropriate webpack modes
(__ DEVCLIENT __ / __ DEVSERVER __ / __ PRODCLIENT __)

[2016-08-31 00:12] #15 closed

[2016-09-01 13:03] evilebottnawi opened #21 "Support `config` through `query`"
Use:

[code]

And in webpack in loaders:

[code]

I can do PR if you have not time for this :smile:

[2016-11-08 11:51] jmarceli commented on #12
@stevegibbings investigating further it is even easier to `import 'modernizr'` than modify webpack config file. I think that the result is similar but this way if we need it in JS it is enough to change `import 'modernizr'` to `import Modernizr from 'modernizr'`.
I see no drawbacks of that approach and I would favour it over modifying a config file.

[2016-11-10 06:59] goesbysteve commented on #12
Yes I can see how that would work.

Sent from my iPhone

[2016-11-28 12:28] wenbing commented on #21
you can help yourself

[2016-12-21 00:04] amorino opened #24 "After update to 1.0.0 detects are incorrect"
After the update from 0.5 some feature detects are incorrect, for example with a project in 0.5 the feature detect "eventlistener" returns true on the latest version of Chrome, with 1.0.0 it returns false.

[2016-12-21 07:24] flootr commented on #24
Hey @amorino, thanks for reporting this bug. Could you please provide us with some more information about your webpack and modernizr configuration? This would be helpful, thanks!

[2016-12-21 08:08] judewang commented on #24
@flootr I have anther issue using v1.0.0. I'm chaining yaml-loader and modernizr-loader to write the config file in yaml. Here's my `.modernizerrc`

[code]

After starting webpack-dev-server, I got this error:

[code]

I have tried the same setup with v0.0.5, everything worked great.

[2016-12-21 08:22] flootr commented on #24
@judewang you could try to pass in the `json-loader` before passing stuff from the `yaml-loader` to the `modernizr-loader`. Like so: `modernizr!json!yaml`.

[2016-12-21 13:41] judewang commented on #24
@flootr It worked! I haven't notice that new version needs json-loader, thanks.

[2016-12-21 21:07] xsynaptic commented on #24
Sorry to pile-on a somewhat unrelated issue, but it might not be a bad idea to make a note about upgrade path:

1) Install `json-loader` when using JSON config.
2) Add `!json` to loader chain in Webpack config.
3) Properly import `Modernizr` where previously you'd been relying on a global.

I seem to be up and running again, thanks for your work!

[2016-12-22 07:22] flootr commented on #24
@synapticism good point! I updated the CHANGELOG accordingly.

[2016-12-22 20:55] clessg commented on #24
I believe this bug is caused by #23. In the built Modernizr file, `window` will be an empty object now, so tests such as `"addEventListener" in window` return false.

[2016-12-25 11:56] xsynaptic commented on #24
I took a closer look and it seems I'm also experiencing the same problem as the OP: multiple tests are failing where the global `window` object is referenced in the Modernizr test.

[2016-12-25 15:02] clessg commented on #24
I created a PR #25 which should resolve the issue.

[2016-12-29 08:21] nielsvanmidden commented on #24
Can we merge that pull request? Works properly.

[2016-12-30 11:02] sengeezer opened #26 "Still getting "ReferenceError: document is not defined""
I'd love to use this module, but it fails on build (es6/babel/webpack/yarn):

`Error: ./.modernizrrc
Module build failed: ReferenceError: document is not defined
    at /Users/fabioa/Development/projects/mfsjs/.modernizrrc:4:1876
    at Object.<anonymous> (/Users/fabioa/Development/projects/mfsjs/.modernizrrc:6:3)
    at Module._compile (module.js:571:32)
    at Object.exec (/Users/fabioa/Developm

[2017-01-03 07:23] flootr commented on #26
Hey, thanks for reporting this issue. Could you please provide us with your webpack configuration?

[2017-01-03 07:25] flootr commented on #24
@clessg thanks for your PR 👍

I somehow want to have this tested though. I'm going to set up a local test project to see how we can improve on this.

[2017-01-03 10:13] sengeezer commented on #26
Sure. I've removed the bower line as I'm not using bower at this time.

[code]

[2017-01-09 10:44] fouadbhatti commented on #24
@flootr when can we merge this PR, getting the same issue as some modernizr tests are failing. Thanks

[2017-01-10 21:26] mjamesderocher commented on #26
I am having a similar issue with window not being defined. I didn't use to have this problem.

[2017-01-11 19:45] sengeezer commented on #26
Ok, I've played around some more and have changed my webpack config to this:

[code]
I can now have `if(Modernizr.input.placeholder)` evaluate to true, for example. Does that mean it's working? This may seem like a silly question, but I may have gone codeblind on this topic.

[2017-01-12 07:48] flootr commented on #26
Yes and no. The Modernizr test for `input.placeholder` does not rely on the global `window` object itself. I'm working on a fix!

[2017-01-12 08:26] #24 closed

[2017-01-12 08:37] flootr commented on #26
Could you please test if `1.0.1` is working for you @sengeezer?

[2017-01-12 17:46] sengeezer commented on #26
Ok, I updated to the new version and added `test/elem/picture` to the rc file. Upon running, I get the css classes in the body tag and the test for `Modernizr.picture` passes.

As far as I can tell, picture does use window. If this does mean that it's working now, I'd like to point out that formatting of the rc file, which in my case is an output from modernizr's json generator, appears to be crit

[2017-01-17 20:33] rlindskog opened #27 "Compatibility with modernizr-server"
Hi,

I just made some middleware to handle fetching modernizr information to the server.  It's called [modernizr-server](https://github.com/rlindskog/modernizr-server).  Do you think its possible to change the wrapOutput function while targetting node to something like this?  Not to experience with building webpack loaders.

    function wrapOutput(output) {
        // Exposing Modernizr as a modu

[2017-01-17 22:42] rlindskog commented on #15
@jrodl3r @flootr I made a modernizr server implementation for express.  Check it out if you're interested. [modernizr-server](http://github.com/rlindskog/modernizr-server).

Take a look at this issue too.  [Issue #27](https://github.com/peerigon/modernizr-loader/issues/27)

[2017-01-20 10:47] ghost commented on #26
Hello,

I confirm that window is not accessible within the tests, making stuff like touchevents test broken.

E.g.

[code]

window return an object with Modernizr inside only.

[2017-01-23 16:08] stevegibbings opened #28 "Instructions don't work using webpack 2.2.0"
Using config as on readme (an .modernizrrc file as json) and importing Modernizr I get an error indicating the loader is not a loader. The file path in the log seems to indicate it's finding the Modernizr package and not the loader at all.

[code]

If I change loader config to modernizr-loader I get a different error -

[code]

[2017-01-23 16:31] goesbysteve commented on #28
Sorry my mistake I had a typo!

[2017-01-23 16:31] #28 closed

[2017-02-03 13:32] MADPT opened #29 ""You may need an appropriate loader to handle this file type.""
Hi everyone,

I've spent the last couple of hours trying to add Modernizr to my webpack 2 setup but I wasn't able to solve this error:
`Module not found: Error: Can't resolve 'modernizr' in .../Webpack2Setup/src/js/main.js`

**.../Webpack2Setup/package.json**
[code]

**.../Webpack2Setup/webpack.config.js**
[code]

**.../Webpack2Setup/.modernizrrc**
[code]

**.../Webpack2Setup/src/js/main.js**
[cod

[2017-02-03 13:43] gmli-eu commented on #29
I had a typo in the webpack.config.js `resolve` but it didn't fixed the issue.

**.../Webpack2Setup/webpack.config.js (FIXED)**
[code]

**New error**
[code]

[2017-02-03 14:34] flootr commented on #29
Hey! This might be due to your loader configuration. You are expecting a `/\.modernizrrc.js$/`, but you are aliasing `modernizr` to `.modernizrrc`.

[2017-02-03 16:19] gmli-eu commented on #29
I don't guess that's the reason because, if I remove everything inside `.modernizrrc` (just leave {} ), webpack runs perfectly

[2017-02-03 17:19] flootr commented on #29
Nevertheless, your loader configuration for Modernizr would not apply to the provided file because the regex does not match. The error message

is, at least in my experience, almost everytime caused by a _"falsy"_ loader configuration. So there might be an issue there which is not caused by the modernizr-loader itself.

I cloned your repo and it happens to be that webpack is not recognizing your `

[2017-02-03 18:28] gmli-eu commented on #29
@flootr you're right, I just needed to update the `loader: 'modernizr-loader!json-loader'`

That's a good question because I read somewhere that I didn't need `json-loader` with webpack 2. Probably I don't need to install it (I don't have it on my package.json) but I have to pass it into my configuration.

Thank you for your help 😄

[2017-02-07 23:37] jhnns commented on #29
Webpack 2 will only apply the json-loader by default if the file extension is `.json`

[2017-02-08 04:56] anjianshi opened #30 "the code `delete window.Modernizr` will throw an error in IE8"
it throws `object doesn't support this action`
see http://stackoverflow.com/questions/1073414/deleting-a-window-property-in-ie

[2017-02-08 05:02] anjianshi commented on #30
may be our site or app should not support IE8, but we need to ensure modernizr's code won't break in old browsers, so that we can show a 'browser not support' message to user when tests not pass.

[2017-02-12 17:21] drewnoakes opened #31 "Config from readme gives "path is not defined""
Specifically, this line:

[code]

Do I need to add an import/require? If so, perhaps this could be included in the readme as well.

[2017-02-13 07:22] flootr commented on #31
If you want to use the [`path`](https://nodejs.org/api/path.html) module, you need to require it in the file you're using it.

[code]

I'll update the README file as well.

Let me know, if that solves your problem.

[2017-02-13 14:44] drewnoakes commented on #31
Thanks.

[2017-02-13 14:44] #31 closed

[2017-02-17 09:51] #29 closed

[2017-02-23 20:53] giannif commented on #29
@jhnns can't get this going with `Webpack 2`. Was working with `Webpack 1` just fine.

If I rename `.modernizrrc` to `.modernizrrc.json`, the json is parsed, but then

[code]

Imports the json, probably because I have this as an alias:
[code]

And I feel like that's where things go wrong...

Separately, if I don't append `.json` to `.modernizrrc`, I can't get the json-loader to kick in:
In that sc

[2017-03-02 10:00] tonytangau opened #33 "The modernizr-loader does not work with karma-webpack"
When try to use karma-webpack to run jasmine tests, with the same loaders as dev/prod, it throws error
[code]
The other tests (for modules do not require modernizr) runs fine.

[2017-03-02 10:51] flootr commented on #33
Could you please provide me with your webpack config? The given error message indicates there may be a misconfiguration with the loaders.

[2017-03-08 03:43] tonytangau commented on #33
There was a mistake in the config, thanks for the reply, I will close this issue.

[2017-03-08 03:43] #33 closed

[2017-03-15 15:07] MartinMa commented on #28
@stevegibbings Hi, what was your typo? I get the same error "Unexpected token". Just updated to webpack 2.

[2017-03-15 16:22] goesbysteve commented on #28
I hadn't amended the test value to include the json extension as webpack 2 now includes a json loader. Even though I have a file .modernizrrc with no extension the rules need to include exactly as on this loaders readme. I had just amended what I had from webpack 1 without looking close enough. I believe webpack 2 was loading it as JavaScript not json which caused the json-loader to fail parsing.

[2017-03-16 07:13] vivekgs2007 commented on #5
Got the same Issue.

Changed as mentioned by @flootr but still no Luck;.

Webpack: v2.1.0-beta.20

[2017-03-16 08:16] vivekgs2007 opened #34 "Module build failed"
I am getting this error:

[code]

My Conf modernizrrc file is:

[code]

Webpack Version is 2.1.0-beta.20

[2017-03-16 08:19] vivekgs2007 opened #35 "Error in webpack Build"
I am followed the steps as per the readme file and Got the same issue as the issue-5 ( https://github.com/peerigon/modernizr-loader/issues/5 )

As mentioned by @flootr, I have updated the code but No Luck

Webpack: v2.1.0-beta.20

Let me know if you need any more information

[2017-03-16 08:22] MartinMa commented on #28
Thanks for your quick answer. I renamed `.modernizrrc` to `.modernizrrc.json` and changed the value for test to `/\.modernizrrc(\.json)?$/`. It does work now.

[2017-03-16 08:59] goesbysteve commented on #28
You're welcome. Glad I could point you in the right direction. We've had lots to refactor to move to webpack 2 even though we were following the betas. Good luck!

[2017-03-16 09:24] flootr commented on #35
Hey @vivekgs2007! Thanks for reporting this issue. Would you be so kind and provide us with the following information?

- Your webpack configuration file
- The name of your `modernizrrc` file and if its written in JSON or JavaScript

[2017-03-16 09:25] flootr commented on #34
Hey @vivekgs2007, is this related to #35?

[2017-03-16 09:29] vivekgs2007 commented on #35
Here is a part webpack conf file where all the modernizrrc configuration is added:

[code]

Here is modernizrrc file and saved has ".modernizrrc"

[code]

[2017-03-16 09:31] vivekgs2007 commented on #34
No This is Different Issue. I tried adding this config

[code]

Got the above error

[2017-03-16 09:33] flootr commented on #34
Ok, and your `modernizrrc` is written in JSON? If so, you have to add the `json-loader` to your loader chain like this:

[code]

[2017-03-16 09:42] flootr commented on #35
Ok, if you're using webpack 2 I think you always have to provide `-loader` suffix (like `modernizr-loader!json-loader`).

I'm not sure if you want this, but here you are not escaping the dot (which you have to, if you only want to match the regex on a `.` here): `test: /\.modernizrrc\.js$/,`

You may have some misconfiguration (there are a load of tests which apply to either `modernizrrc` or `json

[2017-03-16 09:43] vivekgs2007 commented on #34
Still the same issue:

[code]

[2017-03-16 09:48] flootr commented on #34
It's a slightly different error message though. Could you also add your webpack configuration file here or is it the same as in #35?

[2017-03-16 09:51] vivekgs2007 commented on #34
Fixed the Bug By removing the

[code]

[2017-03-16 09:51] #34 closed

[2017-03-16 10:39] vivekgs2007 commented on #35
Tried with above and other possible ways, But No Luck.

Here are the Loaders

[code]

In the entry js file I have included

[code]

Error on Build:

[code]

[2017-03-16 12:37] flootr commented on #35
Could you provide a small sample repository? I'm not sure if this is related to to the `modernizr-loader` itself, but a misconfiguration with webpack, somehow. Maybe @jhnns can provide us with a usefil hint here.

[2017-03-16 13:57] jhnns commented on #35
You are requiring the modernizr module. You should require your `.modernizrrc.js`, which is the configuration file that customizes the modernizr build.

[2017-03-17 06:21] vivekgs2007 commented on #35
@jhnns I have changed the mine .modernizrrc to .modernizrrc.js

But Still no luck
[code]
![image](https://cloud.githubusercontent.com/assets/3347921/24030997/f9891f96-0b05-11e7-8c08-51028119d782.png)

Let me know any other way.

Does this plugin is compatible with webpack 2

[2017-03-17 06:22] vivekgs2007 commented on #35
Tried requiring the .modernizrrc.js in entry file, No Luck

[2017-03-17 06:27] flootr commented on #35
@vivekgs2007 do you think you can set up a small example repository which reproduces your error? I think this would be helpful so that we can finally solve your problem :)

[2017-03-17 09:26] vivekgs2007 commented on #35
I tried other plugins "modernizr-webpack-plugin" and "webpack-modernizr-loader"

Got the same errors.

Need to find the other solution.

[2017-03-17 09:46] flootr commented on #35
Yeah, I think you might have some misconfiguration with your webpack config. If you could set up a sample project which reproduces the error, we can help you. Otherwise it would be like trying to find a needle in a haystack, unfortunately

[2017-03-17 17:11] rhagigi commented on #35
So I had the same issue with webpack 2. Instead of aliasing the .modernizrrc file, I required it directly (require('../../../.modernizrrc') and it worked. It looks like the issue is with it being able to resolve the aliased modernizrrc and load it properly... Not entirely sure why.

[2017-03-22 15:58] #21 closed

[2017-03-24 08:24] flootr commented on #35
@vivekgs2007 could you resolve your issue with @rhagigi suggestion?

[2017-03-28 10:01] mikeyalder-bw commented on #35
I had to change this to the following to get it working:

[code]

[2017-03-28 10:19] trafiq commented on #35
I am struggling with the same problem though still not managed to get it working. @mikeyalder-bw, please can you confirm how you are loading modernizr in your scripts? Is it with `require` or `import from`. I have everything else exactly as your config from your last comment. Thanks.

[2017-03-28 10:24] mikeyalder-bw commented on #35
I am requiring it using code below:

`window.Modernizr = require('modernizr');`

[2017-03-28 10:26] trafiq commented on #35
Thanks. That helped me realise my mistake. My file structure is slightly different and I needed to set my alias as follows:
[code]

[2017-03-28 10:30] trafiq commented on #35
Incidentally. Both of these seem to work for me:
[code]
and
[code]
All is now working as it should.

[2017-04-25 14:44] frederikprijck commented on #35
I'm having the same issues, I'm using the configuration as mentioned in the readme of `modernizr-loader`.

My console outputs:

[code]

I've attached a minimal reproduction sample, any guidance into what I'm missing ?

Repro steps:
- npm install
- npm run build

[webpack-modernizr.zip](https://github.com/peerigon/modernizr-loader/files/955447/webpack-modernizr.zip)

[2017-04-25 15:53] trafiq commented on #35
You have a different modernizrrc test to me. You could try changing:
[code]
to…
[code]
Also try removing resolveLoader and add your alias to the resolve object instead:
[code]

[2017-04-25 16:35] frederikprijck commented on #35
@trafiq I've must have missed something, it appears to work. Thanks! 👍  Note, the sample I added seems to miss the `json-loader`. Installing that loader, removing the `resolveLoader` and using `resolve.alias` did the trick after updating my loaders for `.modernizerrc`:

[code]
Making these changes does succeed the build, however Modernizr logs undefined in the browser.

[code]

Anything I'm missin

[2017-05-03 13:10] frederikprijck commented on #35
@flootr, sorry for mentioning u directly. Any idea why it's giving me undefined ?

I did some debugging inside modernirz-loader:

[code]

Results in
[code]
[code]
[code]

This is also available in my bundle.js file ...

So this would make me think that:
- `import Modernizr from 'modernizr` is being translated to importing the `.modernizrrc` file coz of the alias (so this is working)
- It's using t

[2017-05-03 15:41] frederikprijck commented on #35
Apparantly I need to use `import * as Modernizr from 'modernizr` (instead of `import Modernizr from 'modernizr'`), could this be because I'm using TypeScript ?

[2017-05-09 17:29] rflmyk commented on #28
I just  changed the loader name "modernizr" to "modernizr-loader" and work for me ;)
[code]
I'm used webpack **2.2.1**

[2017-05-16 15:30] hsbc-maciejpanecki opened #38 "Error when parsing modernizrrc"
When I followed your readme I received following error:

[code]

My .modernizrrc :
[code]
And packages used
[code]

[2017-05-17 06:23] flootr commented on #38
@hsbc-maciejpanecki could you provide me with your webpack config? I'm especially interested in the part with the loaders.

[2017-05-17 09:23] ghost commented on #38
I solved it with a use of json-loader:
[code]
that was suggested in this PR: https://github.com/peerigon/modernizr-loader/pull/37

And I have this setting in my resolve:
[code]

[2017-05-17 09:25] ghost commented on #38
What I do not understand is what is a purpose of this code:
[code]
What is it purpose? Now I just got ```.modernizrrc.json``` and it works fine.

[2017-05-17 09:27] flootr commented on #38
You don't have to use `json` format for your `modernizrrc`. You are allowed to use a javascript file instead, then you won't need the `json-loader`.

[2017-05-17 09:48] ghost commented on #38
So it is one OR the other depending on your choosing. Nice. You should definitely update readme file.

[2017-05-17 09:49] #38 closed

[2017-05-18 10:08] stephane-tessier commented on #35
I used a _modernizr-config.json_ file for config, like advised for for the cli.
With webpack 2, here is the conf that works for me:
(the json loader is a bit tricky so I thought I would share it)

[code]

(`npm install json-loader` might be needed)

[2017-06-01 00:36] cthorner commented on #26
We ran into this issue as well. v1.0.0 was giving us an empty object instead of window. Upgrading to v1.0.1 of modernizr-loader fixes the issue. However, the repo is still showing v1.0.0 as being the latest release. Can you update it to show v1.0.1 as latest release, @flootr ?

Thanks!

[2017-06-01 06:14] flootr commented on #26
@cthorner Can you tell me where you see/don't see this? 1.0.1 should be the latest release both on GitHub and npm.

[2017-06-30 20:37] cthorner commented on #26
When I go to releases in github, it shows "Latest Release" button next to the 1.0.0 release. I also see 1.0.1, but it is not marked as "Latest Release". Does that make sense? Another way to get there is to go to the latest url: https://github.com/peerigon/modernizr-loader/releases/latest

Right now it is redirecting to 1.0.0.

[2017-07-10 06:42] sonarforte opened #39 "Uncaught TypeError: _modernizr2.default.mq is not a function"
I'm using the exact configuration as specified in the Readme, and the import of Modernizr works.

However, when I go to use the thing, I get the error `Uncaught TypeError: _modernizr2.default.mq is not a function`.

Here is my modernizr config:

[code]

When I use `mq`, I get the error above. Here is my code:

[code]

Incidentally, if I print out the `Modernizr` object, I get this:

[code]

Where

[2017-09-07 13:31] msholty-fd opened #40 "json-loader is not required for webpack v2 and above"
The documentation for this loader instructs you to install `json-loader`, but for users on webpack 2 and above, it is not required. This is one of the first lines in json-loader:

[2017-09-16 18:03] mvastola opened #41 "SyntaxError: Unexpected token :"
So I'm getting a weird error, and I'm hoping someone can help me out. I'm a bit new to Webpack -- this is a rails app -- (though I'm a fairly advanced coder) so I could be doing something dumb.

The error is as follows
[code]

This makes no sense though, because (to my reading) this is a parser error regarding the the JSON config file, but I actually obtained the file directly from the `Modernizr`

[2017-09-16 18:08] mvastola commented on #41
Okay, I'm totally missing something here, because I just replaced the JSON file with `{}` and now I get the following error:
[code]

[2017-09-18 15:15] Tailzip commented on #41
Same issue here!

[2017-09-18 17:49] flootr commented on #41
Thanks for reporting this issue. Unfortunately I'm not able to check this out before next Tuesday. Hope this works out for you both. @mvastola if you want to set up an example repository which reproduces this error this would be 👌

[2017-09-18 18:26] mvastola commented on #41
Done.
See https://github.com/mvastola/modernizr-loader-issue-41/tree/issue1
FWIW, you don't really even need to check out a repo. Just run the following in an empty directory:

- `rails new  . --webpack` (Have the latest rails 5.0.x or 5.1.x installed first)
- `yarn add json-loader modernizr modernizr-loader`
- `curl https://raw.githubusercontent.com/Modernizr/Modernizr/v3.5.0/lib/config-all.json

[2017-09-19 13:20] RobinSiep commented on #41
Having the same issue sadly.

[2017-09-27 15:51] jnleonard3 commented on #41
For anyone who encounters this, which I did after I upgraded to Webpack 3, the fix was to add the json loader to the loader definition:
[code]

[2017-09-27 16:40] mvastola commented on #41
Hrm. I thought I had tried this previously with a plain `.js` file and encountered a similar error. (Also, given #40, I assumed this wasn't necessary in any case.)

Regardless, I just tried this again (using a plain javascript file -- containing the json file contents prefixed with `module.exports = `) and got a bit further, but I'm still having an error.  Please see https://github.com/mvastola/mo

[2017-09-27 16:46] mvastola commented on #41
Okay. Well the original compile error is fixed. I had put `import "json-loader!modernizr-loader!../modernizrrc.json"` but the order of the loaders apparently needed to be swapped (and `json-loader` *was* required -- #40 is incorrect and should be closed). This just leaves the issue from the previous comment.

[2017-10-12 01:19] gregorskii opened #42 "specific chunk"
Hi,

I have a requirement from a front-end dev to place the `modernizr` package in the head of our application. This is due to the fact that the view will get a flicker if the `modernizr` javascript loads AFTER CSS classes that use `modernizr` classes.

How would one go about making the `modernizr` builder an entry? Could it be chunked on the output?

I would need the custom modernizr build to be

[2017-10-12 09:52] ghost commented on #33
WHAT WAS THE MISTAKE?!?!?!

[2017-10-18 01:14] mvastola commented on #41
@flootr, any chance you've been able to look at this?

[2017-10-24 06:35] AntiFish03 commented on #41
To avoid the me too... (Although I must say I am having the issue as well on a Rails 5.1.4 project with webpacker, and webpack 3).  I have a webpack 1 project that its working perfectly with the same version of `modernizr`, `modernizr-loader`, and a similar `.modernizrrc.json`

~Also while changing over to use `.modernizrrc.js` seems to work as webpack builds, I am not getting classes on the dom a

[2017-10-24 22:24] mvastola commented on #41
@AntiFish03, yeah. I originally triggered this issue in a rails app, but I was able to isolate it in https://github.com/mvastola/modernizr-loader-issue-41/tree/issue2 and duplicate the issue without rails. Maybe it has to do with the version of `webpack`? My example uses semver `^3.5.5`. I should actually try to clean it up a bit to see if I can get closer to the core issue.

[2017-10-24 23:10] mvastola commented on #41
Ok, I just pushed a few commits to https://github.com/mvastola/modernizr-loader-issue-41/tree/issue2 to vastly reduce the yarn modules it uses. Now there's only `webpack`, `modernizr` and `modernizr-loader` and the same issue occurs.

I tried downgrading as much as I could, setting the following in `package.json` and the error persisted:
[code]

I would have liked to try `webpack@^1.0.0` (as @Anti

[2017-10-25 12:20] flootr commented on #41
@mvastola I'm sorry to not keep up with this issue, hope to find some time towards the weekend. Maybe also @jhnns can provide some pointers.

[2017-10-26 17:10] jhnns commented on #40
Thanks for the hint, but the json-loader is indeed required. Webpack 2 applies the json-loader by default *if no other loader is configured for that file type*. If you need any other loader (like the modernizr-loader), you need to configure the json-loader explicitly.

[2017-10-26 17:10] #40 closed

[2017-10-26 17:17] jhnns commented on #41
@mvastola Have you tried to use it as described in the README?

[code]

modernizr will not expose itself to the `window` object if loaded as a module (in contrast to just including a `<script>` tag). After all, that's why you want to use a module bundler like webpack: to avoid the global namespace and its conflicts.

Since the original issue has been resolved (json-loader was missing) and the desc

[2017-10-26 17:17] #41 closed

[2017-10-26 18:37] mvastola commented on #41
@jhnns Ahh. Ok. Shouldn't it be at least optional to expose to `Modernizr` in the `window` object though? I mean, there's more than one reason people use `webpack`..

In my case I'm using it because I'm using it to manage my asset pipeline in a rails app, and it would seem silly to need to have a separate `<script>` tag (or some other workaround like `window.Modernizr = Modernizr` to expose it). A

[2017-10-27 14:49] jhnns commented on #41
If you have a module system, it's best practice not to clutter the global object anymore. I don't think that the modernizr-loader should do that. If you want to have it on the `window` object, just add it explicitly 😁
You can also use the script-loader which can be used if you just want to include something in the bundle, without using a module system.

[2017-10-27 22:30] mvastola commented on #41
Yeah, I get what you're saying. ~~Having to do it explicitly just seems.. clunky to me for some reason. Oh well, I'll live.~~ :-) Thanks a lot for looking into this anyhow!

[2017-10-27 23:47] mvastola commented on #41
**Update:** Retract that last bit about the clunkiness. Apparently I'm just too much of a n00b at `webpack` (apologies). For anyone else running into this see https://webpack.js.org/configuration/externals/.
Crisis averted. :-)

[2018-01-09 22:48] readeujet opened #43 "Pleas update npm docs!"
Specifically the webpack config. The link to the webpack loader documentation is dead and the loaders code is outdate.

Docs on github work great. Thanks for the great work otherwise!

[2018-01-31 09:25] adam187 commented on #39
For @sonarforte and others that had this issue

In my case i had to check if `Modernizr.mq` exits because this method exitis only on client side, not on server side.

So something like:
[code]

[2018-02-14 15:37] toddpi314 commented on #35
@stephane-tessier's solution worked for Webpack3 as well

[2018-03-08 14:13] var-bp opened #44 "Add support for webpack 4"
Hi, modernizr-loader don't work with webpack 4.

[2018-03-08 14:36] flootr commented on #44
@var-bp thanks for raising this issue. Would you mind providing a PR with a basic test case for webpack 4? We could use this as a starting point.

[2018-03-08 18:58] var-bp commented on #44
Done.

[2018-03-27 12:13] strarsis opened #46 "[Docs] Installing modernizr package"
A bit nitpicky, but in README is described how to install the dependencies:
[code]
`modernizr` package is installed as a dev dependency, however, it is actually used in the bundle, so shouldn't it be rather a normal dependency? So that it has to be installed in a second step like this?:

[code]

[2018-05-23 21:34] blachawk commented on #44
I'm new to learning how PR's approved with GitHub.  Once this gets approved, is there a location where we can test this out to see if it works with out Webpack 4 projects?  Thanks for any clarity in how this process works with your team.

[2018-06-18 06:22] jinixx commented on #44
~~guys, any updates on this issue?~~

[edit] loader works with webpack 4 with a slight tweak of webpack config

[2018-06-19 10:08] braime commented on #44
It would be really nice, if you would share the tweak with us!

[2018-06-20 04:12] jinixx commented on #44
[code]

type: 'javascript/auto', << add this for json to load properly

[2018-06-20 18:05] blachawk commented on #44
When I implement the following into my config file...
[code]
I get the following error when I do an npm start...

[code]

[2018-06-20 20:27] blachawk opened #47 "detection of keyframes does not work"
When I add the following code to my javascript file...

[code]

Chrome tells me in the console...
[code]

[2018-06-20 21:19] blachawk commented on #44
Here is a snippet of what I have within my webpack.config.js file to get modernizr-loader working with Webpack 4.12.0

[code]
I intentionally placed my .modernizrrc in my `/src` folder. Its just a personal preference. But make sure you have the <b>json-loader</b> npm package installed.

My  .modernizrrc file looks like the following, which loads classes on your `<HTML>` element in the DOM.
[code]

[2018-06-21 04:24] jinixx commented on #44
the loaders are the same, except mine won't work without `type: 'javascript/auto',`

webpack 4 no longer use 'javascript/auto' as default type, and if the error encountered is of parsing of json, adding `type: 'javascript/auto',` could solve the problem.

[2018-06-22 14:50] blachawk commented on #47
I resolved my issue, was due to a configuration issue on my part.  I know have key-frame detection working perfectly.

[2018-06-22 14:50] #47 closed

[2018-06-25 15:30] ctrlplusb commented on #44
hey all, is there any consensus for a workaround that works? I tried all of the above and they each resulted in my `import Modernizr from 'modernizr'` being a string (a path to a static resource ala file-loader).

[2018-07-17 14:42] medialwerk commented on #44
Hey all,

our implementation looks like this and it's working pretty well:

[code]

I first tried the `type: 'javascript/auto'` but it seems that it's not working if the file does not end with `.json`? After that, I saw that webpack has an implemented `type: 'json'`. But webpack also doesn't recognize the json file type (thows a compile error). Could it be that this is a webpack bug or that it's o

[2018-07-18 13:46] chrisalexander55 opened #48 "No Such File or Directory"
ENV: OSX 10.11.6
WebPack: 4.8.3
Modernizr: 3.6.0
Modernizr-Loader: 1.0.1

.modernizrrc
[code]

webpack.config.js
[code]

Webpack appears to be correctly parsing its config and .modernizrrc but throws the following:

![screen shot 2018-07-18 at 9 43 18 am](https://user-images.githubusercontent.com/1727612/42885480-124de00e-8a6f-11e8-95b4-3ef088dbe77d.jpg)

Any ideas what I am doing wrong? Thank you

[2018-07-24 14:51] BaronSosaa opened #49 "Build errors: dependencies not found"
I'm trying to make the switch from a grunt development environment to webpack. So far it hasn't been easy, but Modernizr and this loader have been giving me a headache for two days now..

I tried several different modernizr version and loaders, but no luck....
As you can see I followed everything from the read.me but I keep getting the same errors..
The modernizr in /node_modules has a package.jso

[2018-09-04 07:07] arusak commented on #39
You have a modernizr configuration included in your code instead of modernizr itself. It means that loader isn't configured correctly. Need to look at your config to see what's wrong.

[2018-09-04 07:21] arusak commented on #48
@chrisalexander55, please use https://modernizr.com/download to make a proper config file. Mind `feature-detects` section here:
[code]

[2018-10-03 09:43] pavelsl commented on #13
Is it possible to connect only separate modules through ES6 imports?

[2019-02-13 17:27] cyrilchapon commented on #44
Everything works in @medialwerk configuration, except if I use a .modernizrrc*.json* file (explicit json extension) and update config accordingly. This is pretty strange

[2019-02-27 12:23] HawkeyePierce89 commented on #44
All works fine if we will be see on webpack documentation

[code]

[2019-06-23 09:53] jprud67 commented on #49
I have a solution that works!

//webpack.config.js

const path = require ('path');
.addLoader({
        loader: "webpack-modernizr-loader",
        test: /\.modernizrrc\.js$/
    })
    // Add path to modernizr config as alias
    .addAliases({
        modernizr$: path.resolve(__dirname, '.modernizrrc.js')
    })

// .modernizrrc.js
module.exports = {
    // Your modernizr config, like:
    "optio

[2019-07-24 19:16] scottydev opened #50 "Is this project deprecated?"
Hasn't been updated in a couple of years and lots of issues popping up regarding official Webpack 4 support.

[2019-08-02 16:27] meaku commented on #50
@jhnns?

[2019-09-10 08:51] jhnns commented on #50
It's not deprecated, currently it's just unmaintained. We will try to dedicate some time.

[2020-03-18 22:15] laptite commented on #35
For anyone struggling to get this working on Rails 6 -- I did the following:
[code]

[code]
[code]

[code]

[2020-04-13 14:53] sectsect commented on #50
@jhnns
Thanks for helpful package.
Currently does not work with webpack 5 beta.
Do you have a plan to add compatibility before webpack 5 is officially released?

[2020-05-12 21:23] strarsis commented on #49
Functioning setup with roots.io sage 9 theme:

[code]

`webpack.config.js`:
[code]

`.modernizrrc`
[code]

`common.js`
[code]

For SASS I like to use this with [`modernizr-mixin`](https://github.com/danielguillan/modernizr-mixin).

[2020-09-02 10:36] shawnlah opened #51 "Dependency not found"
I'm using this with Modernizr and Nuxt but I get an error during compilation.

**<ins>.modernizrrc file</ins>**
[code]
**<ins>nuxt.config.js file</ins>**
[code]
**<ins>The error</ins>**
[code]
I already have it installed so I'm not sure what's the error.
[code]
Saw someone else commented on a StackOverflow post that its because`vue-loader` doesn't "like" `modernizr-loader`? Any help would be great

[2020-09-03 03:26] #51 closed

[2020-10-12 15:00] strarsis commented on #50
CSS Features queries are quite supported now (https://caniuse.com/css-featurequeries), btw.

[2020-10-15 15:20] ayxos opened #52 "Not working with webpack@^5.0.0"
The new webpack version is not compatible with this loader, the compiler throws

[code]

Any idea why?

[2020-10-20 08:25] terrymun opened #53 "modernizr-loader does not work with json5-loader@4"
It seems that `modernizr-loader` does not work with [json5-loader@4](https://github.com/webpack-contrib/json5-loader/releases/tag/v4.0.0) (it works for [json5-loader@3](https://github.com/webpack-contrib/json5-loader/releases/tag/v3.0.0) and below). I get the following error:

[code]

[2020-10-28 07:03] efremenkovan commented on #52
@ayxos ```this.exec``` has been removed from webpack 5 loader's context.

Not sure if this is the best approach, but I solved this just a webpack 5 changelog offers to:

[code]

P.S. You should also add ```var NativeModule = require("module");```.

[2020-12-13 16:34] richardcalahan commented on #52
This solution worked for me.

Looks as though this project is dead, but I don't see a decent alternative.
I used [patch-package](https://github.com/ds300/patch-package) to ensure the change persists.

[2021-04-09 20:26] cascornelissen commented on #52
I ran into this issue as well. All Webpack loaders and plugins that handle Modernizr builds don't seem to be updated for Webpack 5 or are no longer maintained at all anymore.

There's [a guide](https://webpack.js.org/loaders/val-loader/#modernizr) within the official Webpack documentation on how to set this up with [`val-loader`](npmjs.com/package/val-loader) but it requires quite a big custom imp

[2021-04-15 22:10] MikaelLambert commented on #52
I was able to solve my issue by removing `modernizr-loader` completely and switching to `@media` queries and `@supports` rules in CSS. Your mileage may vary, but this is a reminder that things have changed and IE11 support has basically ended for most public websites.

Here's an example that I'm using to style on touch devices
[code]
https://developer.mozilla.org/en-US/docs/Web/CSS/@media/hover
ht

[2022-10-11 14:13] caseyjhol commented on #52
Looks like there's a working fork here: https://github.com/sectsect/modernizr-loader.